body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Cantarell", "Ubuntu",  "Roboto", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #232934;
  }
  
  code {
    font-family: source-code-pro, Menlo, Consolas, Monaco, "Courier New",
      monospace;
  } 